---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import MainInfo from "../components/MainInfo.astro";
---
<style>
	body {
		background-image: url(/bg_img.svg);
		background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        margin: 0;
        overflow-x: hidden; /* Prevent horizontal scrolling */
	}

    @media (max-width: 768px) {
        body {
            background-position: top center;
        }
    }
</style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<Hero />
		<MainInfo />
		<Footer />
	</body>
</html>
