---
const cssVars = {
    footerBgColor: '#ffffff'
}
---

<footer>
    <div>
        <p>© 2025 larek.tech. All rights reserved.</p>
        <p>Created by passionate students for a better future.</p>
    </div>
</footer>

<style define:vars={cssVars}>
    footer {
        background-color: var(--footerBgColor);
        padding: 1rem;
        display: block;
        justify-content: space-between;
        align-items: center;
        border-top:#E5E5E5;
        unicode-bidi: isolate;
        padding-top: 2rem;;
        padding-bottom: 2rem;
        /* border-radius: 1rem; */

    }
    p {
        font-family: 'Helvetica';
        text-align: center;
    }

    
</style>