---
---
<div class="hero">
    <h1><span>&#123;</span>larek<span>&#125;</span>.vpn</h1>
    <p>Получи доступ ко всему интернету <br>уже сейчас</p>
    <a href="http://l.larek.tech/vpn" class="btn">Попробовать</a>
</div>

<style>
    .hero {
        font-family: 'JetBrains Mono', monospace;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        margin: 5rem auto 3rem;
        max-width: 33%;
        padding: 2rem 2rem;
    }
    h1 span {
        color: #1EAF60;
        
    }
    
    h1 {
        font-family: 'JetBrains Mono', monospace;
        color: #2563EB;
        font-size: 3rem;
    }
    p {
        font-family: 'Helvetica';
        color: #4B5563;
        font-size: 2rem;
        font-weight: 500;
        white-space: nowrap;
        text-align: center;
    }
    a.btn {
        font-family: 'JetBrains Mono', monospace;
        font-size: 1rem;
        background-color: #2563EB;
        padding: 0.6rem 1rem;
        border-radius: 5px;
        color: #ffffff;
        text-decoration: none;
        border-radius: 14px;

    }

    @media (max-width: 768px) {
        .hero {
            max-width: 90%;
            margin: 2rem auto;
        }
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
            white-space: normal;
        }
    }
</style>